@model IEnumerable<LanchesMac.Models.Lanche>

@{
    ViewData["Title"] = "List";
}

<div><h2> Todos os Lanches </h2></div>

<div class="row">
@foreach (var lanche in Model)
{
    <div class="col-6">
        <h4>Lanche: @lanche.Nome</h4>
        <p><img src="@lanche.ImagemUrl"/></p>
        <p>Preço: @lanche.Preco.ToString("c")</p>
    </div>
}
</div>
